html{
	overflow: hidden;
}
body{
	background-color: #ffffff;
}
#drop{
	position: absolute;
	z-index: 2;
	width: 150px;
	height: 150px;
	background-color: #ffffff;
	border: 1px dotted #5E79D3;
	line-height: 20px;
	text-align: center;
	font-family: sans;
	font-size: 12px;
	color: #5e79d3;
}
#hidden{
	width: 0px;
	height: 0px;
	overflow: hidden;
}