html{
  overflow: hidden;
}
body{
  background-color: #ffffff;
  font-family: monospace;
  font-size: 12px;
  padding: 5px;
}
span{
}
input[type='button']{
  font-family: monospace;
  font-size: 12px;
}
#hidden{
  display: none;
}
#load-files{
  min-height: 20px;
}